<section class="">
  <%= for item <- @items do %>
    <p>
      <%= item.name %>
    </p>
    <p>
      <%= item.price_paid %>
    </p>
    <p>
      <%= item.price_sold %>
    </p>
  <% end %>

  <div>
    <%= link "New Clothing Item", to: Routes.item_path(@conn, :new) %>
  </div>
</section>